@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root{
    --f-Sans: 'Open Sans', sans-serif;
    --f-Raleway: 'Raleway', sans-serif;
    --c-blue12: hsl(243, 87%, 12%);
    --c-blue44: hsl(238, 22%, 44%); 
    --c-blue58: hsl(224, 93%, 58%); 
    --c-bluegray: hsl(240, 75%, 98%); 
    --c-gray: hsl(0, 0%, 75%); 
    --c-cyan: hsl(170, 45%, 43%); 
    --c-red: hsl(0, 48%, 57%); 
    --p-mobile: 1.5rem; 
    --p-desktop: 5rem; 
    --radius: 2px; 
}


