.quote{
    background-color: #fff;
    padding: 1.5rem; 
    border-radius: var(--radius); 
    box-shadow: 0px 0px 15px hsla(243, 87%, 12%, .3);
    margin-top: 5rem; 
    max-width: 23rem; 
}
.quote img{
    width: 20px; 
}
.message{
    margin: 1rem 0; 
}

.profileBox{
    display: flex; 
    gap: 1rem; 
    align-items: flex-end;
}

.profileBox img{
    width: 50px; 
    border-radius: 50%; 
}

.name{
    font-family: var(--f-Raleway);
    font-weight: 700;
}

.position{
    font-size: .8rem; 
}