.heading{
    display: flex; 
    justify-content: space-between; 
}
.logo{
    width: 100px; 
}
.nav{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex; 
    gap: 1rem; 
}

.nav li{
    cursor: pointer; 
}

@media (min-width: 750px) {
    .logo{
        width: auto; 
    }
}