.btn{
    background-color: var(--c-blue58); 
    color: #fff; 
    font-family: var(--f-Raleway);
    padding: .8rem 3rem; 
   cursor: pointer; 
   border-radius: var(--radius); 
   box-shadow: 0px 3px 10px hsla(243, 87%, 12%, .3);
   text-align: center; 
}

.btn:active{
    scale: .98;
    
}

.btn.body{
    width: 18rem; 
}

.btn:hover{
    background-color:hsl(224, 93%, 65%) ;
}